.display-container {
    flex: 1;
    flex-basis: 0%;
}

.display-item {
    display: flex;
    justify-content: space-between;
    
    margin: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}